.controls {
  display: flex;
  border-bottom: 1px silver solid;
  padding-bottom: 0.5em;

  form {
    display: flex;
    align-items: stretch;
    flex: auto;
    margin-right: 1em;

    input {
      flex: auto;

      &::placeholder {
        font-style: italic;
      }
    }

    button {
      margin: 0;
      flex: none;
    }
  }
}

.item-description {
  border: 1px #555 solid;
  padding: 0.25em;
  margin: .5em 0;

  span {
    display: block;
  }
}

@media only screen and (max-width: 625px) {
  .controls {
    flex-direction: column;

    form {
      margin-right: 0;
    }
  }
}
