.header {
  margin-bottom: 1em;

  .row {
    display: flex;

    label {
      display: inline-block;
      width: 100px;
      flex: none;
    }

    .buttons {
      flex: auto;
    }
  }

  .active {
    background-color: yellow;
  }
}

.simple-potion {
  padding: .25em 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    width: 175px;
    font-weight: bold;
  }

  .effect {
    display: block;
    font-style: italic;
    font-weight: .9em;
  }

  .color-R {
    color: red;
  }

  .color-Y {
    color: yellow;
  }

  .color-B {
    color: rgb(91, 91, 255)
  }

  .color-G {
    color: gray;
  }
}