.site {
  display: flex;
  height: 100vh;

  .page-content {
    padding: 0.5em;
    flex: auto;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 400px) {
  .site {
    .page-content {
      margin-left: 0.5em;
    }
  }
}
