@import "variables.scss";

.menu-item {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  padding-right: 2em;
  cursor: pointer;

  label {
    cursor: inherit;
    font-weight: bold;
  }

  img {
    filter: invert(0.8);
    width: 1.75em;
    vertical-align: middle;
    margin-right: 0.75em;
  }

  &.active {
    background-color: $accent-color;
    color: #222;

    img {
      filter: none;
    }
  }

  &:hover {
    color: #222;
    background-color: $accent-color-highlight;

    img {
      filter: none;
    }
  }

  &.collapsed {
    padding-right: 0.5em;

    img {
      margin: 0;
    }

    label {
      display: none;
    }
  }
}
