.controls {
  label {
    display: inline-block;
    width: 125px;
  }
}

.active {
  background-color: yellow;
}

.trainer {
  label {
    display: block;
    font-size: 1.25em;
  }

  .note {
    display: block;
    font-style: italic;
  }
}