html {
  height: 100vh;
}

body {
  background-color: #222;
  color: #DDD;
  padding: 0;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  border: none;
  background-color: #DDD;
  color: black;
  padding: .5em;
  margin: .2em;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}