@import "variables.scss";

html {
  height: 100vh;
}

body {
  background-color: #222;
  color: #ddd;
  padding: 0;
  margin: 0;
  height: 100vh;
}

* {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  border: none;
  color: black;
  padding: 0.5em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 0.2em;
  background-color: #999;

  &:hover {
    background-color: white;
  }

  &.primary-button {
    background-color: $accent-color;

    &:hover {
      background-color: $accent-color-highlight;
    }
  }
}

input[type="text"] {
  padding: 0.5em;
}

a {
  color: white;

  &:visited {
    color: #ccc;
  }

  &:hover {
    color: white;
  }
}


@media only screen and (max-width: 400px) {
  .page-title {
    margin: .33em 0;
  }
}