ol {
  margin: 0 1em 0 1em;
  padding: 1em;

  ul {
    margin: 0;
    padding-left: 1em;
    margin-bottom: 1em;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

code {
  display: block;
  font-family: 'Courier New', Courier, monospace;
}

.attribution {
  font-style: italic;
}